export(logLevel)
export(usePlots)
export(ensure)
export(getPortfolio)
export(my.portfolio)
export(optimizePortfolio)
export(plotPerformance)
export(compare.Market)
export(compare.EqualWeighted)
export(getCorFilter.RMT)
export(optimizePortfolio.RMT)
export(getRandomMatrix)
export(filter.RMT)
export(mp.density)
export(mp.theory)
export(mp.lambdas)
export(mp.rho)
export(mp.fit)
export(cov.shrink)
export(cov.sample)
export(cov.prior.cc)
export(cor.mean)
export(getCorFilter.Shrinkage)
