exportPattern("^[^\\.]")
export(.cutoff)
importFrom("stats", "cov2cor", "end", "sd", "start")
importFrom("utils", "read.csv")
import(lambda.r)
import(lambda.tools)
import(futile.logger)
import(futile.matrix)
import(tawny.types)
import(zoo)
import(xts)
import(PerformanceAnalytics)
import(quantmod)
